* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 16px 'Proxima Nova', sans-serif; }

a {
  font: 400 16px 'Proxima Nova', sans-serif;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  color: #008dd0;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative; }

/* Bread */
.bread-wrap {
  background: #f1f2f2;
  padding: 15px 0;
  margin-bottom: 36px; }

.bread ul li {
  display: inline-block;
  margin-right: 34px;
  position: relative; }

.bread ul li:after {
  content: '>';
  display: block;
  position: absolute;
  top: 0;
  right: -24px; }

.bread ul li:last-child:after {
  display: none; }

/* News */
.sidebar {
  float: left;
  width: 280px;
  border: 2px solid #a1cd5e;
  padding: 33px 15px 9px 45px; }

.sidebar__head {
  color: #414042;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 25px; }

.sidebar ul li a.active {
  color: #414042;
  text-decoration: none; }

.sidebar ul li a {
  margin-bottom: 24px; }

.content {
  margin-left: 342px; }

.news-items {
  font-size: 0; }

.news-item {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-right: 3.5%;
  margin-bottom: 38px; }

.news-item:nth-child(3n) {
  margin-right: 0; }

.news-item__img {
  display: block;
  padding-bottom: 21px; }

.news-item__time {
  color: #616161;
  font-size: 14px;
  padding-bottom: 13px; }

.news-item__head {
  color: black;
  font: 700 20px/1.3 'Proxima Nova';
  margin-bottom: 25px;
  text-decoration: none; }

.news-item__head:hover {
  color: #067db6; }

.news-item p {
  font: 400 16px/1.6 'Proxima Nova'; }

.pagination {
  margin: 18px 0 35px 0;
  text-align: center; }

.pagination ul li {
  display: inline-block;
  margin-right: 24px;
  position: relative;
  font-size: 18px; }

.pagination ul li:after {
  content: "|";
  display: block;
  position: absolute;
  top: 0;
  right: -17px; }

.pagination ul li:first-child:after {
  display: none; }

.pagination ul li:last-child:after {
  display: none; }

.pagination ul li:nth-last-child(2):after {
  display: none; }

.pagination ul li:last-child a {
  text-decoration: none; }

.pagination ul li a.active {
  color: #5c5c5c;
  text-decoration: none; }

.pagination ul li a {
  font-size: 18px;
  font-weight: 700; }

/* Article */
.article__time {
  color: #616161;
  font-size: 14px;
  padding-bottom: 23px; }

.article > h2 {
  color: #414042;
  font-size: 38px;
  padding-bottom: 15px; }

.article > h3 {
  color: #414042;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 25px; }

.article > img {
  padding-bottom: 26px; }

.article > p {
  color: #414042;
  line-height: 1.6;
  padding-bottom: 37px; }

.article-news__head {
  border-top: 1px solid #898989;
  padding-top: 31px;
  margin-top: 6px;
  color: #f37043;
  font-size: 20px;
  padding-bottom: 28px; }

.article-news-items {
  font-size: 0;
  padding-bottom: 76px; }

.article-news-item {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-right: 3.5%; }

.article-news-item:last-child {
  margin-right: 0; }

.article-news-item__img {
  padding-bottom: 21px; }

.article-news-item__time {
  color: #616161;
  font-size: 14px;
  padding-bottom: 13px; }

.article-news-item__head {
  color: #000;
  font: 700 20px/1.3 'Proxima Nova';
  text-decoration: none;
  padding-bottom: 24px; }

.article-news-item__head:hover {
  color: #067db6; }

.article-news-item p {
  color: #414042;
  font: 400 16px/1.6 'Proxima Nova'; }

/* Footer */
.footer-wrap {
  background: #f1f2f2; }

.footer {
  padding-bottom: 40px;
  padding-top: 45px; }

.footer-logos {
  float: left;
  width: 310px;
  text-align: center; }

.footer-logos a:first-child {
  margin-bottom: 65px; }

.footer-info {
  float: right; }

.footer-info ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 49px; }

.footer-info ul:last-child {
  margin-right: 0; }

.footer-info ul li:first-child {
  font: 700 20px 'Proxima Nova';
  color: #414042;
  padding-bottom: 14px; }

.footer-info ul li a {
  color: #414042;
  padding-bottom: 12px; }

.footer-info ul li a.footer-info__mail {
  color: #008dd0;
  padding-top: 12px; }

.footer-info__tel {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none; }

.footer-info__tel:hover {
  color: #000; }

.footer-info__link {
  padding: 16px 26px;
  border-bottom: 2px solid #909091;
  background: #a1cd5e;
  margin-top: 15px; }

.footer-info ul li a.footer-info__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none; }

.footer-info ul li a.footer-info__link:hover {
  background: #75b218; }

.bot-line {
  text-align: center;
  border-top: 1px solid #898989;
  padding: 20px 0; }

.social {
  float: left;
  transition: 300ms; }

.social a {
  margin-right: 15px;
  width: 25px;
  height: 25px; }

.social a:hover {
  transform: rotate(360deg); }

.site-caption {
  display: inline-block;
  margin-top: 5px; }

.omg {
  float: right;
  margin-top: 5px; }

<<<<<<< HEAD
/* Kos */
.kos {
  background: #fff; }
=======
/* Vlad */
.vlad {
  font-size: 16px; }
>>>>>>> origin/master

/*# sourceMappingURL=style.css.map */