* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px 'Proxima Nova', sans-serif;
}

a {
  font: 400 16px 'Proxima Nova', sans-serif;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  color: #008dd0;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}

.bread-wrap {
  background: #f1f2f2;
  padding: 15px 0;
  margin-bottom: 36px;
}

.bread ul li {
  display: inline-block;
  margin-right: 34px;
  position: relative;
}

.bread ul li:after {
  content: '>';
  display: block;
  position: absolute;
  top: 0;
  right: -24px;
}

.bread ul li:last-child:after {
  display: none;
}

.sidebar {
  float: left;
  width: 280px;
  border: 2px solid #a1cd5e;
  padding: 33px 15px 9px 45px;
}

.sidebar__head {
  color: #414042;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 25px;
}

.sidebar ul li a.active {
  color: #414042;
  text-decoration: none;
}

.sidebar ul li a {
  margin-bottom: 24px;
}
.content {
  margin-left: 330px;
}

.news-items {
  font-size: 0;
}

.news-item {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-right: 3.5%;
  margin-bottom: 38px;
}

.news-item:nth-child(3n) {
  margin-right: 0;
}

.news-item__img {
  display: block;
  padding-bottom: 21px;
}

.news-item__time {
  color: #616161;
  font-size: 14px;
  padding-bottom: 13px;
}

.news-item__head {
  color: black;
  font: 700 20px/1.3 'Proxima Nova';
  margin-bottom: 25px;
  text-decoration: none;
}

.news-item__head:hover {
  color: #067db6;
}

.news-item p {
  font: 400 16px/1.6 'Proxima Nova';
}

.pagination {
  margin: 18px 0 35px 0;
  text-align: center;
}

.pagination ul li {
  display: inline-block;
  margin-right: 24px;
  position: relative;
  font-size: 18px;
}

.pagination ul li:after {
  content: "|";
  display: block;
  position: absolute;
  top: 0;
  right: -17px;
}

.pagination ul li:first-child:after {
  display: none;
}

.pagination ul li:last-child:after {
  display: none;
}

.pagination ul li:nth-last-child(2):after {
  display: none;
}

.pagination ul li:last-child a {
  text-decoration: none;
}

.pagination ul li a.active {
  color: #5c5c5c;
  text-decoration: none;
}

.pagination ul li a {
  font-size: 18px;
  font-weight: 700;
}